body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#task-list, #completed-task-list {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 40%;
    display: inline-block;
}

#tasks, #completed-tasks {
    list-style: none;
    padding: 0;
    margin: 0;
}

#tasks li, #completed-tasks li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#tasks li:last-child, #completed-tasks li:last-child {
    border-bottom: none;
}

#tasks li span, #completed-tasks li span {
    font-weight: bold;
}

#tasks li button, #completed-tasks li button {
    margin-left: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

#tasks li button:hover, #completed-tasks li button:hover {
    background-color: #3e8e41;
}